<div class="form-container">
  <div class="forms">
    <%= simple_form_for @article do |f| %>
    <p>Titulo</p>
    <%= f.input :title, label: false %>
    <p>Subtitulo</p>
    <%= f.input :subtitle, label: false %>
    <p>Contenido</p>
    <%= f.input :content, label: false, input_html: { rows: 8 } %>
    <p>Foto</p>
      <%= f.input :photo, as: :file %>
    <br>
    <%= f.submit 'Crear Noticia', class: 'btn btn-block btn-services' %>
    <% end %>
  </div>
</div>
