<% if user_signed_in? %>
<div class="article-show-navbar">
  <%= link_to 'Editar Noticia', edit_article_path(@article), class: 'btn btn-warning btn-block btn-lg'  %>
  <%= link_to 'Destruir Noticia', @article, method: :delete, data: { confirm: 'Estas seguro de eliminar la noticia' } , class: 'btn btn-danger btn-block btn-lg' %>
</div>
<% else %>
<% end %>
<div class="article-show-container">
  <div class="article-show-content">
    <h2><%= @article.title %></h2>
    <h3><%= @article.subtitle %></h3>
    <%= cl_image_tag @article.photo.key %>
    <p><%= @article.content %></p>
  </div>
  <div class="p-5">
    <%= link_to 'Volver', articles_path, class: 'btn btn-services btn-block btn-lg'  %>
  </div>
</div>

