<%= render 'shared/navbar' %>
<div class="container">
  <h2 class="text-center py-5">Bienvenido a Icono Administrador</h2>
  <h3>Novedades</h3>
  <p><%= link_to 'Ver novedades', articles_path, class: "btn btn-services" %></p>
  <p><%= link_to 'Crear novedades', new_article_path, class: "btn btn-primary " %></p>
  <h3>Videos</h3>
  <p><%= link_to 'Ver videos', videos_path, class: "btn btn-services" %></p>
  <p><%= link_to 'Crear videos', new_video_path, class: "btn btn-primary " %></p>
  <h3>Icono en Red</h3>
  <p><%= link_to 'Ver videos', videos_path, class: "btn btn-services" %></p>
  <p><%= link_to 'Crear videos', new_video_path, class: "btn btn-primary " %></p>
  <h3>Testimonios</h3>
  <p><%= link_to 'Ver videos', videos_path, class: "btn btn-services" %></p>
  <p><%= link_to 'Crear videos', new_video_path, class: "btn btn-primary " %></p>
  <h3> Dietas</h3>
  <p><%= link_to 'Ver videos', videos_path, class: "btn btn-services" %></p>
  <p><%= link_to 'Crear videos', new_video_path, class: "btn btn-primary " %></p>
</div>

