
<div class="container shadow px-3 px-md-5 mt-5 mb-5 pb-5 bg-white rounded" id="user-show">
  <h2 class="py-5 text-center">Bienvenido a Icono Administrador</h2>
  <h3>Noticias</h3>
  <p><%= link_to 'Ver noticias', articles_path, class: "btn btn-services btn-block btn-lg"  %></p>
  <p><%= link_to 'Crear noticias', new_article_path, class: "btn btn-primary btn-block btn-lg"  %></p>
  <h3>Testimonios</h3>
  <p><%= link_to 'Ver testimonios', posts_path, class: "btn btn-services btn-block btn-lg"  %></p>
  <p><%= link_to 'Crear testimonios', new_post_path, class: "btn btn-primary btn-block btn-lg  " %></p>
  <h3>Alimentación Saludable</h3>
  <p><%= link_to 'Ver alimentación saludable', programs_path, class: "btn btn-services btn-block btn-lg"  %></p>
  <p><%= link_to 'Crear alimentación saludable', new_program_path, class: "btn btn-primary btn-block btn-lg  " %></p>
  <h3>Icono en red (noticias)</h3>
  <p><%= link_to 'Ver icono en red', networks_path, class: "btn btn-services btn-block btn-lg"  %></p>
  <p><%= link_to 'Crear noticias de icono en red', new_network_path, class: "btn btn-primary btn-block btn-lg  " %></p>
</div>


