 <div class="form-container">
  <div class="forms">
    <%= simple_form_for @video do |f| %>
    <p>Titulo</p>
    <%= f.input :title, label: false %>
    <p>Link de Youtube --> https://youtu.be/<span style="color: red;">98enwNEvT4s</span> --> poner solo la parte en rojo!!</p>
    <%= f.input :url, label: false %>
    <p>Categoria</p>
    <%= f.input :category, collection: ['Cirujía Metabólica', 'Manga Gástrica', 'Bypass Gástrico'], label: false %> <br>
    <%= f.submit 'Crear Video', class: 'btn btn-block btn-services'%>
    <% end %>
  </div>
</div>
