<div class="modal-container">
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#exampleModalCenter">
      ¿En qué consiste la primera consulta con el cirujano?
    </button>
    <%= render 'modals/modal_1' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#second-modal">
      ¿Cuál es la cirugía adecuada para mi?
    </button>
    <%= render 'modals/modal_2' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#exampleModal">
      ¿Cuál es el límite de edad para las cirugías bariátricas?
    </button>
    <%= render 'modals/modal_3' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#exampleModalLong">
      ¿Qué pasa con "las pieles sobrantes" después de la pérdida de peso?
    </button>
    <%= render 'modals/modal_4' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#eightModal">
      ¿Puedo volver a subir de peso después de la cirugía bariátrica?
    </button>
    <%= render 'modals/modal_8' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#nineModal">
      ¿Pueden las mujeres quedar embarazadas después de una cirugía bariátrica?
    </button>
    <%= render 'modals/modal_9' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#tenModal">
      ¿Existe una tendencia a la anemia en el postoperatorio?
    </button>
    <%= render 'modals/modal_10' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#sixModal">
      Psicología
    </button>
    <%= render 'modals/modal_6' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#sevenModal">
      Cirugías bariátrica y el papel del psiquiatra
    </button>
    <%= render 'modals/modal_7' %>
  </div>
  <div class="d-none">
    <button type="button" class="btn-about" data-toggle="modal" data-target="#staticBackdrop">
      Terapia del lenguage
    </button>
    <%= render 'modals/modal_5' %>
  </div>
</div>
