<div class="modal-container">
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#exampleModalCenter">
      ¿EN QUÉ CONSISTE LA PRIMERA CONSULTA CON EL CIRUJANO?
    </button>
    <%= render 'modals/modal_1' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#second-modal">
      ¿CUÁL ES LA CIRUGÍA ADECUADA PARA MI?
    </button>
    <%= render 'modals/modal_2' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#exampleModal">
      ¿CUÁL ES EL LÍMITE DE EDAD PARA LAS CIRUGÍAS BARIÁTRICAS?
    </button>
    <%= render 'modals/modal_3' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#exampleModalLong">
      ¿QUÉ PASA CON "LAS PIELES SOBRANTES" DESPUÉS DE LA PÉRDIDA DE PESO?
    </button>
    <%= render 'modals/modal_4' %>
  </div>
  <div>
    <button type="button" class="btn-about" data-toggle="modal" data-target="#staticBackdrop">
      Terapia del lenguage
    </button>
    <%= render 'modals/modal_5' %>
  </div>
</div>
