<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="guillo" onclick="onClick()">
    <span class="menu">
      <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="2.57143" fill="#373737"/>
        <rect y="7.71429" width="18.2609" height="2.57143" fill="#373737"/>
        <rect y="15.4286" width="24.7826" height="2.57143" fill="#373737"/>
      </svg>
    </span>
    <span class="transparent cross">
      <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="37.0786" height="3" transform="matrix(0.691384 0.722487 -0.805471 0.592635 4.36426 0)" fill="#373737"/>
        <rect width="37.0786" height="3" transform="matrix(0.691384 -0.722487 0.805471 0.592635 0 26.7888)" fill="#373737"/>
      </svg>
    </span>
  </button>
  <div>
    <%= link_to root_path, class: 'navbar-brand' do  %>
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591899146/logo-corregido-ICONO-300x90_dhiakb.png" alt="" style="width: 130px; height: 45px;">
    <% end %>
  </div>
  <div class="d-lg-none">
    <%= link_to turnos_path do  %>
      <i class="far fa-calendar-alt"></i>
    <% end %>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Quiénes Somos', about_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Equipo Medico', team_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Novedades', articles_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Videos', videos_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Contacto', new_contact_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Icono en red', "#", class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Testimonios', posts_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to 'Dietas', programs_path, class: "nav-link"%>
      </li>
    </ul>
  </div>
  <div class="d-none d-lg-block">
    <%= link_to turnos_path do  %>
    <i class="far fa-calendar-alt"></i>
    <% end %>
 </div>
</nav>

<script>
  const onClick = () => {
    const crossButton = document.querySelector('.cross');
    const menuButton = document.querySelector('.menu');
    crossButton.classList.toggle('block');
    menuButton.classList.toggle('transparent');
  }
</script>


