<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673266/91298986_173445084129604_2992532804383801344_o.jpg_e1ganf.jpg", alt: "diet_monday", class: "d-block w-100" %>
   </div>
   <div class="carousel-item">
    <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673290/91803067_173445104129602_951571479265280_o.jpg_bepq5t.jpg", alt: "diet_tuesday", class: "d-block w-100" %>
  </div>
  <div class="carousel-item">
    <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673374/91208502_173445130796266_4807665273064652800_o.jpg_nbvhqv.jpg", alt: "diet_wendsday", class: "d-block w-100" %>
  </div>
  <div class="carousel-item">
    <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673430/91189274_173445154129597_6967349372669394944_o.jpg_lgzzjw.jpg", alt: "diet_thuersday", class: "d-block w-100" %>
  </div>
  <div class="carousel-item">
    <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673457/91412470_173445214129591_6916740411515994112_o.jpg_yzcx3k.jpg", alt: "diet_friday", class: "d-block w-100" %>
  </div>
  <div class="carousel-item">
    <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673480/91926267_173445197462926_142917742603796480_o.jpg_hsklms.jpg", alt: "diet_saturday", class: "d-block w-100" %>
  </div>
  <div class="carousel-item">
    <%= image_tag "https://res.cloudinary.com/dye9yotct/image/upload/v1611673505/91779973_173445314129581_8346333478719062016_o.jpg_chzfz2.jpg", alt: "diet_sunday", class: "d-block w-100" %>
  </div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
