<%= render 'shared/topbar' %>
<%= render 'shared/navbar' %>
<div class="main-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2700&q=80);">
  <div class="main-container">
    <h1>UNA MEJOR CALIDAD DE VIDA ES POSIBLE</h1>
    <p>En ICONO te ayudaremos a lograrlo</p>
    <div class="d-flex">
      <%= link_to 'Quienes somos', '#services', class: 'btn btn-lg btn-services'  %>
      <%= link_to 'Contacto', '#', class: 'btn btn-lg btn-secondary'  %>
    </div>
  </div>
</div>
<section id="services">
  <h2 class="title"> Nuestros Sevicios</h2>
  <%= render 'shared/services' %>
  <div class="team-home-container">
     <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591900516/Captura_de_Pantalla_2020-06-11_a_la_s_15.34.29_iau8hb.jpg" alt="" style="width: 100%;
  height: 400px; object-fit: cover;">
  <div class="team-footer text-center">
    <%= link_to 'Nuestro equipo', team_path, class: 'btn btn-team btn-large'  %>
  </div>
  </div>
</section>
<section id="articles">
  <h2 class="title"> Novedades</h2>
  <%= render 'shared/articles' %>
</section>
<section id="social">
  <h2 class="title">Encontranos en nuestras redes</h2>
  <div class="social-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
    <%= render 'shared/social' %>
  </div>
  <div class="social-footer">
    <div>
      <%= link_to '#' do  %>
      <i class="fab fa-instagram"></i>
      <% end %>
      <%= link_to '#' do  %>
      <i class="fab fa-facebook-square"></i>
      <% end %>
      <%= link_to '#' do  %>
      <i class="fab fa-youtube"></i>
      <% end %>
    </div>
  </div>
</section>
<section id="library">
  <h2 class="title"> ICONO en Red</h2>
  <%= render 'shared/network' %>
</section>
<section id="bookings">
  <h2 class="title">Solicitar Turno</h2>
  <%= render 'shared/booking' %>
</section>
