<%= render 'shared/team_navbar' %>
<%= render 'surgery_js' %>
<h2 class="surgery-title">Equipo de Profesionales</h2>
<section id="cirujia">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986083/Moisa-14392-corregido-nancy-1024x1024_luqjvw.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dr. Gastón Moisá</h2>
        <p>Médico Cirujano General Y Bariátrico <br>Jefe de Servicio</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986106/Patricio-Finoli-1024x1024_hgs63j.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dr. Patricio Finoli</h2>
        <p>Médico Cirujano General Y Bariátrico</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986117/carre_C3_B1o-1024x1024_rrg035.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dr. Roberto Carreño</h2>
        <p>Médico Cirujano General<br>Fellow En Cirugía Bariátrica</p>
      </div>
    </div>
  </div>
</section>
<section id="fitness">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986136/lobo-1024x1024_ptm1df.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dra. Silvana Lobo</h2>
        <p>Medica Endocrinológa</p>
      </div>
    </div>
    <div class="team-surgery-card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2590&q=80)">
      <div class="text-center">
       <h2>Recetas semanales</h2>
       <p>Recetas realizadas por nuestras profecionales para mantener una alimentación saludable</p>
     </div>
   </div>

   <div class="team-card">
    <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986155/Silvina-Solano-1024x1024_hvxzcb.jpg" alt="">
    <div class="team-card-content text-center">
      <h2>Lic. Silvina Solano</h2>
      <p>Nutricionista Clínica y Bariátrica</p>
    </div>
  </div>
</div>
</section>
<section id="fitness-main">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986225/Bianchini-1024x1024_rt9dqg.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dra. Adriana Bianchini</h2>
        <p>Medica Nutricionista Especialista en Clínica y Bariátrica</p>
      </div>
    </div>
    <div>
      <%= render 'carousel' %>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986246/MG_7192-editada-1024x1024_ugauo6.png" alt="">
      <div class="team-card-content text-center">
        <h2>Lic. Solana Nacul</h2>
        <p>Nutricionista Clínica y Bariátrica</p>
      </div>
    </div>
  </div>
</section>
<section id="fitness">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986271/migel-1024x1024_p8mrtc.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Prof. Miguel Gómez Cardozo</h2>
        <p>Profesor de Educación Física</p>
      </div>
    </div>
    <%= render 'nutrition_card' %>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986287/mirtha-1024x1024_rvxhbp.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Mirtha Esther Pérez</h2>
        <p>Preparadora Física</p>
      </div>
    </div>
  </div>
</section>
<section id="doctors">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986299/claudia-3-1024x1024_efxbea.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Lic. Claudia Alonso</h2>
        <p>Psicóloga Bariátrica <br>Jefa de Servicio</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986332/Cecilia-Ju_C3_A1rez-1024x1024_uqzgjy.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Dra. Cecilia Juárez</h2>
        <p>Medica Psiquiatra</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986366/Anabel-Escribano-1024x1024_exfiia.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Anabelle Escribano</h2>
        <p>Psicóloga Clínica</p>
      </div>
    </div>
  </div>
</section>
<section id="doctors-2">
  <div class="team-container-2">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986381/natalia-gallardo-1024x1024_aq5owc.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Natalia Gallardo</h2>
        <p>Psicóloga Clínica</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986771/Vanesa-Salda_C3_B1o-1024x1024_qwpklz.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Vanesa Saldaño</h2>
        <p>Psicóloga</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986818/Gaby-Silva-Molina-1024x1024_a4u1xl.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Gabriela Silva Molina</h2>
        <p>Psicóloga</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dokddymx6/image/upload/v1591986840/Carolina-Velasco-Bulacio-1024x1024_caap5z.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Carolina Velasco Bulacio</h2>
        <p>Psicóloga</p>
      </div>
    </div>
  </div>
</section>
<section id="cirujia-20">
  <div class="team-container">
    <div class="team-card">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/c_fill,g_face,h_800,w_617,x_49/v1611869073/1af787c9-93af-4a50-8f3f-a9897c14018d_lk6eo2.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Romina Stefany Ritorto Piera</h2>
        <p>Medica psiquiatra</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1611869049/59eee9b1-29fc-4fb2-b88b-9a2c6f6992b4_e0upkg.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Merino María Lourdes</h2>
        <p>Psicóloga</p>
      </div>
    </div>
    <div class="team-card">
      <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1611869072/0c2b279f-6c1a-418a-8224-e7e453d0fe30_xi59gm.jpg" alt="">
      <div class="team-card-content text-center">
        <h2>Luciana Izquierdo Bravo</h2>
        <p>Psicóloga Clínica</p>
      </div>
    </div>
  </div>
</section>
<div class="p-5">
  <%= link_to 'Consultas', new_contact_path, class: 'btn btn-services btn-lg btn-block'  %>
</div>
