<%= simple_form_for @post do |f| %>
<p>Titulo</p>
<%= f.input :title, label: false %>
<p>Subtitulo</p>
<%= f.input :subtitle, label: false %>
<p>Contenido</p>
<%= f.input :content, label: false %>
<p>Foto</p>
<%= f.input :photo, as: :file %>
<br>
<%= f.submit 'Crear Testimonio', class: 'btn btn-block btn-services' %>
<% end %>

