<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Icono - Instituto de cirugia y obesidad del norte</title>
    <%= favicon_link_tag "icono-logo.png" %>
    <meta name="title" content="Icono - Instituto de cirugia y obesidad del norte">
    <meta name="description" content="Somos una Institución integrada por un equipo de profesionales dedicados al tratamiento de la obesidad y otros desórdenes alimentarios. Estamos ubicados en Santiago 351, San Miguel de Tucumán">
   <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body>
  <%= render 'shared/topbar' %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
